{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Список мероприятий</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<header>
    <h1>Мероприятия</h1>
    <nav>
        <a href="index.html">Главная</a>
        <a href="profile.html">Профиль</a>
    </nav>
</header>
<main>
    <section class="events-grid">
        <article class="event-card">
<!--            <img src="https://via.placeholder.com/400x250?text=Концерт" alt="Концерт рок-группы"/>-->
            <h2>Концерт рок-группы</h2>
            <p>Выступление популярной рок-группы. Не пропустите!</p>
            <p class="date">Дата: 2024-05-20</p>
            <a href="event_detail.html?id=1" class="btn">Подробнее</a>
        </article>
        <article class="event-card">
<!--            <img src="https://via.placeholder.com/400x250?text=Класс" alt="Кулинарный мастер-класс"/>-->
            <h2>Кулинарный мастер-класс</h2>
            <p>Узнайте секреты французской кухни.</p>
            <p class="date">Дата: 2024-06-10</p>
            <a href="event_detail.html?id=2" class="btn">Подробнее</a>
        </article>
    </section>
</main>
</body>
</html>