{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Список мероприятий</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<header>
    <h1>Мероприятия</h1>
    <nav>
        <a href="index.html">Главная</a>
        <a href="profile.html">Профиль</a>
    </nav>
</header>
<main>
    <section class="events-grid">
        {% for event in object_list %}
            <article class="event-card">
                <!--            <img src="https://via.placeholder.com/400x250?text=Концерт" alt="Концерт рок-группы"/>-->
                <h2>{{event.title}}</h2>
                <p>{{event.content}}!</p>
                <p class="date">Дата проведения: {{event.date_of_events|date:"d:m:Y"}} в {{event.date_of_events|date:"H:i"}}</p>
                <a href="event_detail.html?id=1" class="btn">Подробнее</a>
            </article>
        {% endfor %}
    </section>
</main>
</body>
</html>