<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<!-- Страница входа -->
<div class="auth-container">
  <h2>Вход</h2>
  <form class="auth-form" action="/login" method="POST">
    <label for="username">Email</label>
    <input type="text" id="username" name="email" placeholder="Введите ваш username" required>

    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" placeholder="Введите пароль" required>

    <button class="btn" type="submit">Войти</button>
    <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
  </form>
</div>
</body>
</html>