{% extends 'users/base.html' %}
{% block content %}



<h2>Вход</h2>
<form class="auth-form" action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <label for="{{form.username.id_for_label}}">Email</label>
    {{ form.username }}

    <label for="{{form.password.id_for_label}}">Пароль</label>
    {{ form.password }}
    <button class="btn" type="submit">Войти</button>
    <p>Нет аккаунта? <a href="{% url 'users:registration' %}">Зарегистрироваться</a></p>
    <a class="reset" href="{% url 'users:reset' %}">Восстановить доступ</a>
</form>
{% endblock %}
